    <footer class="footer">
        <div class="container">
            <div class="main-footer dl-flex">
                <div class="logo-ft dl-flex">
                    <a href="#"><img src="@@level/assets/images/logo-ft.svg" alt="logo footer" /></a>
                    <p class="copyright">Copyright © 2020<br class="dl-pc" />Japan National Tourism Organization</p>
                </div>
                <div class="middle-ft">
                    <div class="accordion-toggle dl-sp">Sitemap</div>
                    <div class="middle-ft__inner dl-flex">
                        <div class="menu-ft">
                            <div class="menu-ft__title">Area</div>
                            <ul>
                                <li>
                                  <a href="../destinations/fukushima.html">Fukushima</a>
                              </li>
                              <li>
                                  <a href="../destinations/ibaraki.html">Ibaraki</a>
                              </li>
                              <li>
                                  <a href="../destinations/Tochigi.html">Tochigi</a>
                              </li>
                              <li>
                                  <a href="../destinations/gunma.html">Gunma</a>
                              </li>
                              <li>
                                  <a href="../destinations/saitama.html">Saitama</a>
                              </li>
                              <li>
                                  <a href="../destinations/chiba.html">Chiba</a>
                              </li>
                              <li>
                                  <a href="destinations/tokyo.html">Tokyo</a>
                              </li>
                              <li>
                                  <a href="../destinations/kanagawa.html">Kanagawa</a>
                              </li>
                              <li>
                                  <a href="../destinations/niigata.html">Niigata</a>
                              </li>
                              <li>
                                  <a href="../destinations/yamanashi.html">Yamanashi</a>
                              </li>
                              <li>
                                  <a href="../destinations/yagano.html">Nagano</a>
                              </li>
                            </ul>
                        </div>
                        <div class="menu-ft">
                            <div class="menu-ft__title">Category</div>
                            <ul>
                                <li>
                                  <a href="../things-to-do/art-culture.html">Art & Culture</a>
                              </li>
                              <li>
                                  <a href="../things-to-do/history.html">History</a>
                              </li>
                              <li>
                                  <a href="../things-to-do/nature-outdoor.html">Nature/Outdoor</a>
                              </li>
                              <li>
                                  <a href="../things-to-do/food-drink.html">Food & Drink</a>
                              </li>
                              <li>
                                  <a href="../things-to-do/relaxing-stay.html">Relaxing Stay</a>
                              </li>
                            </ul>
                        </div>
                        <div class="menu-ft">
                            <div class="menu-ft__title">Model Course</div>
                            <ul>
                                <li>
                                  <a href="../plan-your-trip/north.html">North</a>
                              </li>
                              <li>
                                  <a href="../plan-your-trip/sorth.html">South</a>
                              </li>
                              <li>
                                  <a href="../plan-your-trip/east.html">East</a>
                              </li>
                              <li>
                                  <a href="../plan-your-trip/west.html">West</a>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="left-ft">
                    <ul class="orther-pages">
                        <li><a href="transportation.html">Train Map</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="our-partners.html">Link List</a></li>
                    </ul>
                    <div class="follow-us">
                        <div class="follow-us__title">Follow us</div>
                        <ul class="socials__list dl-flex">
                            <li class="social">
                                <a href="#"><img src="@@level/assets/images/icon-fb.svg" alt="facebook" /></a>
                            </li>
                            <li class="social">
                                <a href="#"><img src="@@level/assets/images/icon-instagram.svg" alt="instagram" /></a>
                            </li>
                            <li class="social">
                                <a href="#"><img src="@@level/assets/images/icon-twitter.svg" alt="twitter" /></a>
                            </li>
                            <li class="social">
                                <a href="#"><img src="@@level/assets/images/icon-youtube.svg" alt="youtube" /></a>
                            </li>
                            <li class="social">
                                <a href="#"><img src="@@level/assets/images/icon-pinterest.svg" alt="pinterest" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- JS -->
<script src="@@level/assets/js/jquery.min.js"></script>
<script src="@@level/assets/libs/slick/slick.min.js"></script>
<script src="@@level/assets/js/main.js"></script>