<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <title>@@title</title>
        <meta name="keywords" content="@@keywords" />
        <meta name="description" content="@@description" />
        <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png" />
        <!-- To run web application in full-screen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- import font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&family=Staatliches&display=swap" rel="stylesheet" />
        <!-- CSS -->
        <link href="@@level/assets/libs/slick/slick.css" rel="stylesheet" />
        <link href="@@level/assets/libs/slick/slick-theme.css" rel="stylesheet" />
        <link href="@@level/assets/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="dl-flex">
                <div class="container">
                    <div class="header__inner">
                        <div class="dh-left">
                            <p class="logo">
                                <a href="@@level/index.html"><img src="@@level/assets/images/logo.svg" alt="Logo" /></a>
                            </p>
                        </div>
                        <ul class="hd-menu">
                            <li class="menu-item"><a href="@@level/index.html">Top</a></li>
                            <li class="menu-item"><a href="#">Category</a></li>
                            <li class="menu-item"><a href="#">Model course</a></li>
                            <li class="menu-item"><a href="#">Garelly</a></li>
                            <li class="menu-item"><a href="@@level/transportation.html">Train Map</a></li>
                            <li class="menu-item"><a href="#">Area</a></li>
                            <li class="menu-item"><a href="@@level/our-partners.html">Link List</a></li>
                        </ul>
                        <button id="navLine" class="nav-toggle">
                            <span></span>
                        </button>
                    </div>
                </div>
            </header>
