<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <title>@@title</title>
        <meta name="keywords" content="@@keywords" />
        <meta name="description" content="@@description" />
        <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png" />
        <!-- To run web application in full-screen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- import font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&family=Staatliches&display=swap" rel="stylesheet" />
        <!-- CSS -->
        <link href="@@level/assets/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="dl-flex">
                <div class="container">
                    <div class="header__inner">
                        <div class="dh-left">
                            <p class="logo">
                                <a href="@@level/index.html"><img src="@@level/assets/images/logo.svg" alt="Logo" /></a>
                            </p>
                        </div>
                        <ul class="hd-menu">
                            <li class="menu-item"><a href="@@level/index.html">Top</a></li>
                            <li class="menu-item has-submenu">
                                <a href="#" class="menu-toggle">Things to Do</a>
                                <ul class="sub-menu">
                                    <li><a href="@@level/things-to-do/art-culture.html">Art & Culture</a></li>
                                    <li><a href="@@level/things-to-do/history.html">History</a></li>
                                    <li><a href="@@level/things-to-do/nature-outdoor.html">Nature & Outdoor</a></li>
                                    <li><a href="@@level/things-to-do/food-drink.html">Food & Drink</a></li>
                                    <li><a href="@@level/things-to-do/relaxing-stay.html">Relaxing Stay</a></li>
                                </ul>
                            </li>
                            <li class="menu-item has-submenu">
                                <a href="#" class="menu-toggle">Plan Your Trip</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="@@level/plan-your-trip/moving-art-in-greater-tokyo.html">Moving Art in Greater Tokyo</a>
                                    </li>
                                    <li>
                                        <a href="@@level/plan-your-trip/a-spiritual-retreat-to-japans-wine-country.html">A Spiritual Retreat to Japan</a>
                                    </li>
                                    <li>
                                        <a href="@@level/plan-your-trip/epic-outdoor-adventures.html">Epic Outdoor Adventures</a>
                                    </li>
                                    <li>
                                        <a href="@@level/plan-your-trip/explore-a-wild-wonderland.html">Explore a Wild Wonderland</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="@@level/transportation.html">Transportation</a></li>
                            <li class="menu-item has-submenu">
                                <a href="#" class="menu-toggle">Destinations</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="@@level/destinations/fukushima.html">Fukushima</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/ibaraki.html">Ibaraki</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/tochigi.html">Tochigi</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/gunma.html">Gunma</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/saitama.html">Saitama</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/chiba.html">Chiba</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/tokyo.html">Tokyo</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/kanagawa.html">Kanagawa</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/niigata.html">Niigata</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/yamanashi.html">Yamanashi</a>
                                    </li>
                                    <li>
                                        <a href="@@level/destinations/nagano.html">Nagano</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="@@level/our-partners.html">Our Partners</a></li>
                        </ul>
                        <button id="navLine" class="nav-toggle">
                            <span></span>
                        </button>
                    </div>
                </div>
            </header>
