<ul class="heading-page__tag">
    <li><a href="family-fun.html">Family Fun</a></li>
    <li><a href="accomodation-onsen.html">Accomodation・Onsen</a></li>
    <li><a href="temples-shrines.html">Temples & Shrines</a></li>
    <li><a href="scenery.html">Scenery</a></li>
    <li><a href="activities.html">Activities</a></li>
    <li><a href="cuisine.html">Cuisine</a></li>
    <li><a href="diy-experience.html">DIY・Experience</a></li>
    <li><a href="traditions.html">Traditions</a></li>
    <li><a href="sites.html">Sites</a></li>
    <li><a href="shopping.html">Shopping</a></li>
</ul>